@model OnlineHouseRentManagementSystem.Models.HouseDetail

@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<center>
    <h2>Booking</h2>
</center>

<br />
<center>
    <h1>Your Response has been sent to the Seller....Wait for the Response</h1>

    <div class="card-body">
        <a href="@Url.Action("BookingDetails", "Buyer")" class="btn btn-outline-info" style=margin:5px;>View Booking Detail</a>

    </div>
</center>
